.btn{
    width: 100px;
    height: 50px;
    font-size: 10px;
    background-color: rgba(170, 14, 14, 0.959);
    margin-left: 3px;
    margin-bottom: 10px;
}
.counters{
    display: flex;
    flex-direction: row;
}
.counter{
    text-align: center;
    width: 200px;
}