.navBarUl{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navBarIl{
    margin-left: 70px; 
    margin-top: 20px;       
}
.navBarCart{
    margin-left: 90px;

}
a{
    text-decoration: none;
    color: black;
    font-size: 100%;    
}
.navbar {
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 80px;
}